  <div style="position: relative; width: 100%; border:none !important;" >
		<table class="table table-striped" style="width:100%;font-size:12px;">
		<form name="call_api" id="call_api" class="form-inline">
				<tr>
					<td><b>Date</b></td><td><input type="text" class="form-control" id="date_sub" name="date_sub" style="font-size:12px;"/></td>
					<td><b>Routes</b></td>
					<td><select name="route" id="route" class="form-control" style="width:150px;font-size:12px;">
					<option value="" selected>-Select Route-</option>
					<option value="LHR-DXB">LHR-DXB</option>
					<option value="LHR-SIN">LHR-SIN</option>
					<option value="LHR-HKG">LHR-HKG</option>
					<option value="LHR-DME">LHR-DME</option>
					<option value="LHR-TLV">LHR-TLV</option>
					<option value="LHR-JNB">LHR-JNB</option>
					<option value="LHR-NRT">LHR-NRT</option>
					<option value="LHR-CPT">LHR-CPT</option>
					<option value="LHR-BOM">LHR-BOM</option>
					<option value="LHR-PVG">LHR-PVG</option>
					<option value="LHR-KUL">LHR-KUL</option>
					<option value="LHR-PEK">LHR-PEK</option>
					<option value="ABZ-IAH">ABZ-IAH</option>
					<option value="LHR-ICN">LHR-ICN</option>
					<option value="LHR-RIO">LHR-RIO</option>
					<option value="LHR-BUD">LHR-BUD</option>
					<option value="LHR-GRU">LHR-GRU</option>
					<option value="LHR-RUH">LHR-RUH</option>
					<option value="LHR-DEL">LHR-DEL</option>
					<option value="BHD-LHR">BHD-LHR</option>
					<option value="LHR-EZE">LHR-EZE</option>
					<option value="LHR-JED">LHR-JED</option>
					<option value="LHR-NBO">LHR-NBO</option>
					<option value="ABZ-RIO">ABZ-RIO</option>
					<option value="MAN-IAH">MAN-IAH</option>
					<option value="MAN-SIN">MAN-SIN</option>
					<option value="MAN-PVG">MAN-PVG</option>
					<option value="LHR-DOH">LHR-DOH</option>
					<option value="LHR-DUB">LHR-DUB</option>
					<option value="BBS-DXB">BBS-DXB</option>
					<option value="LHR-PHL">LHR-PHL</option>
					<option value="LHR-BOS">LHR-BOS</option>
					<option value="LHR-ATH">LHR-ATH</option>
					<option value="LHR-BLR">LHR-BLR</option>
					<option value="LHR-MIA">LHR-MIA</option>
					<option value="ABZ-SIN">ABZ-SIN</option>
					<option value="LHR-SEA">LHR-SEA</option>
					<option value="LHR-AUH">LHR-AUH</option>
					<option value="MAN-DXB">MAN-DXB</option>
					<option value="LHR-LOS">LHR-LOS</option>
					<option value="LHR-BAH">LHR-BAH</option>
					<option value="LHR-POS">LHR-POS</option>
					<option value="GLA-NRT">GLA-NRT</option>
					<option value="BBS-SIN">BBS-SIN</option>
					<option value="LHR-SYD">LHR-SYD</option>
					</select></td>
					<td><b>Pieces</b></td><td><input type="text" class="form-control" id="pieces" name="pieces" style="font-size:12px;"/></td>
					<td><b>weight</b></td><td><input type="text" class="form-control" id="weight" name="weight" style="font-size:12px;"/></td>
					<td><button type="button" class="btn btn-primary" id="submit" name="submit" style="font-size:12px;"><b>Submit</b></button></td>
				</tr>
							
				<tr>
					<td width="44%" colspan="4" valign="middle" style="padding-top:40px;">
						<table width="91%" class="table table-striped">
							<tr><td width="33%"><b>Price:</b></td><td width="67%" id="price"></td></tr>
							<tr><td><b>Rate Per Kg:</b></td><td id="rate_price"></td></tr>
							<tr><td><b>Upper Price:</b></td><td id="up_price"></td></tr>
							<tr><td><b>Lower Price:</b></td><td id="low_price"></td></tr>
					  </table>
				  </td>
					<td width="56%" colspan="5"><div id="price_cont" style="max-width: 200px;height:200px;"></div></td>
				</tr>
		</form>
	</table>
	
	<div id="container" style="max-width:900px; height: 400px; margin: 0 auto"></div><br/>
	<table width="100%" class="table">
		<tr>
			<td width="50%"><div id="week-chart" style="max-width:500px; height: 400px; margin: 0 auto"></div></td>
			<td width="50%"><div id="month-chart" style="max-width:500px; height: 400px; margin: 0 auto"></div></td>
		</tr>
	</table>
</div>