<div class="content-wrapper">
    <div class="container-fluid">

        {% include "_cargo.html" %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    {% include "_footer.html" %}
    {%include "_scroll_to_top.html" %}
    {% include "_logout_modal.html" %}
    {% include "_ejs.html" %}
	
</div>
