<style>
.highcharts-title {
    font-weight: bold;
}
.highcharts-label
{
	font-weight:500;
}
.card mb-3{
  width:70%;
}

.dropdown {
    position:relative;
    border: 1px;
	
}

.dropdown  {
    position:absolute;
    right:75%;
    top:33px;
    z-index: 500;
    text-decoration: none;
    font-size: 0.5rem;
}

.dropdown button{
	 font-size: 12px;
	 min-hegiht:30px;
	font-weight:bold;
	color: #333333;
	fill: #E6E6E6;
}

.highcharts-range-selector-buttons {
  visibility: hidden;
}


</style>
<div class="card mb-3">
 <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Graphs
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" data-value="1" type="button">Rolling Mean</button>
      <button class="dropdown-item" data-value="2" type="button">RSI</button>
      <button class="dropdown-item"  data-value="3" type="button">Bolinger</button>
    </div>
  </div>
  <div style="padding-top: 5px; padding-bottom: 10px; position: relative; width: 100%; border:none !important;" >
	  <table class="table">
	  <tr>
		  <td><div id="chart-container" style="height: 570px; width:750px; margin: 0 auto;"></div></td>
		  <td style=" vertical-align:middle !important;">
			<table class="table table-responsive">
				<tr><th><span style="font-size:14px;">RSI</span></th><td id="rsi"></td></tr>
				<tr><th><span style="font-size:14px;">MACD</span></th><td id="macd"></td></tr>
				<tr><th><span style="font-size:14px;">BOLINGER</span></th><td id="bolinger"></td></tr>
				<tr><th><span style="font-size:14px;">ROLLING MEAN</span></th><td id="rolling_mean"></td></tr>
			</table>
		  </td>
	  </tr>
	  </table>
	</div>
</div>