<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

{% include "_head.html" %}
<body>
  {% include "_left_nav.html" %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
        {% include "_top_nav.html" %}
        <!-- {% include "_breadcrumbs.html" %} -->

        <div class="content mt-3">
          {% include "_alert.html" %}
        </div> <!-- .content -->
        {% block content %}{% endblock %}
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

  {% include "_js.html" %}

</body>
</html>
