<!DOCTYPE html>
<html lang="en">

{% include "_head.html" %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% include "_nav.html" %}
    {% include "_econtent.html" %}
</body>

</html>
